
*{
    margin: 0;
    padding: 0;
}
:root{
    height: 100%;
}
body{
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    width: 100%;
}
header{
    grid-column: 2/3;
    padding: 1.2rem 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color:#ffd7ba ;
}
aside{
    grid-column: 1/2;
    grid-row: 1/3;
    padding-top: 1.8rem;
    padding-left: 1.4rem;
    background-color:#fec89a;
}
main{
    padding: 25px 20px 35px 15px;
    background-color: #edc4b3;
    box-shadow: 0 -3px 8px #c9ada7;
}
.aside-container{
    height: 20%;
    display: grid;
    gap: 45px;
}
.upperpart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}
.upper-left{
    /* width: min(650px, 70%); */
    grid-column: 1/4;
    align-items: center;
}
.profilePic > img{
    height: 2.5rem;
    width: 3rem;
    border: 1px solid black;
    border-radius: 50%;
}
.upper-right{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    justify-self: end;
}
.notification{
    display: grid;
    align-items: center;
}
.upper-right>p{
    font-size: 1.1rem;
    font-weight: 700;
}
.bigger-profilePic>img{
    height: calc(2.5rem * 1.5);
    width: calc(3rem * 2);
    border: 3px solid black;
    border-radius: 50%;
}
.lowerpart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.lower-right{
    grid-column: 4/5;
    place-self: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.lower-left{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-column: 1/4;
    align-items: center;
    gap: 0.8rem;
}
.userName{
    display: grid;
    gap: 5px;
}
.upper-left>input{
    width: 60%;
    height: 3vh;
    outline: none !important;
    border: 3px solid #b08968;
    border-radius: 20px;

}
.upper-left>label>img{
    position: relative;
    top: 8px;
    right: 10px;
}
.aside-container img{
    color: #f0f9ff;
}
.home,.profile,.messages,.history,.tasks,.communities,.settings,.support,.privacy{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1.3rem;
    color: #582f0e;
    font-weight: 700;
}
.dashboard{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1.8rem;
    color: #582f0e;
    font-weight: 700;
}
.dashboard>img{
    width: 3rem;
    height: 4vh;
}
.dashboard>p,.dashboard>img{
    position: relative;
    right: 10px;
}
.user-options,.user-settings{
    display: grid;
    gap: 10px;
}
.userName>p:first-of-type{
    font-weight: 700;
}
.userName>p:last-of-type{
    font-size: 1.5rem;
    font-weight: 700;
}
.lower-right>button{
    font-size: 1rem;
    color: #f0f9ff;
    width: 6rem;
    height: 5vh;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #e29578;
    border-radius: 1.5rem;
}
.main-container{
    height:100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}
.center-content{
    display: grid;
    grid-template-rows: 0.5fr 8fr;
}
.center-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 1.8rem;
    height: 80%;
}
.center-grid>div{
    height: 25vh;
    border-radius: 20px;
    border-left: 10px solid #582f0e;
}
.center-content>p{
    font-size: 1.3rem;
    font-weight: 700;
}
.center-grid>div{
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    padding: 10px 25px;
    justify-content: center;
    row-gap: 1.5rem;
    background-color: #fec89a;
    box-shadow: 2px 2px 5px #c9ada7;
}
.grid-text{
    grid-column: 1/5;
    place-self: center;
}
.grid-text>p:nth-child(1){
    font-size: 1.1rem;
    font-weight: 700;
    color: #8a5a44;
    margin-bottom: 2px;
}
.grid-text>p:last-of-type{
    font-size: 1rem;
    color: #9d6b53;
}
.cards{
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 1rem;
}
.card1-content{
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    background-color: #fec89a;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #c9ada7;
}
.card-1>p,.card-2>p{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.card1-content>div>p:first-of-type{
    font-weight: 700;
    margin-bottom: 5px;
}
.card1-content>div:not(div:last-of-type){
    border-bottom: 1px solid #b08968;
}
.card1-content>div{
    padding: 1.5rem 0 1.5rem 0;
}
.card2-content{
    padding: 2rem;
    background-color: #fec89a;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #c9ada7;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
}
.card2-content img{
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 50%;
    grid-row: 1/3;
}
.card2-content>div{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
}
.card2-content>div>p:first-of-type{
    font-weight: 700;
    color: #8a5a44;
}
.card2-content>div>p:last-of-type{
    color: #9d6b53;
}
header button:hover{
    background-color: #9d6b53;
}
.card1-content>div>p:first-of-type{
    color: #8a5a44;
}
.card1-content>div>p:last-of-type{
    color:#9d6b53;
}